body {
  background-color: #fffbf7;
  margin: 0px;
  padding: 0px;
}








button {
  color: #fff;
  background-color: #025157;
}

.subtitulo {
  color: #46484c;
}

p {
  color: #8b8b8bcc;
  font-family: Verdana;
  font-size: 20px;
  
}


.fixed-header {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  /*posiciones: arriba, abajo,izq,der*/
  width: 100%;
  background-color: #fffbf7;
}

.header {
  color: #fff;
  margin: 10px 20px 0px 10px;
  /*top, right, bottom, left*/
  /* background-color: red; */
  
}

.header > * {
  /*se van a aplicar directamente a los hijos*/
  display: inline-block;
  font-size: 16px;
  line-height: 45px;
  vertical-align: middle;
  height: 100%;
}


.menuList > * {
  display: inline-block;
  padding-right: 10px;
}


.menuList > li > a {
  display: inline;
  text-decoration-line: none;
  color: #025157;
  font-size:1.3em;
}

.menuList li > a:visited{
  text-decoration-color: none;
}

.logo {
  width: 15%;
}

.logo > img {
  width: 15%;
}

.navbar {
  width: 60%;
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.action {
  width: 15%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  vertical-align: right;
  /* background-color: aqua; */
}


.action > a {
  text-decoration: none;
  text-decoration-line: none;
  color: #67b54b;
  font-size:1.35em;
}





.main {
  /*display: flex;*/
  margin-top: 300px;
  width: 60%;
  margin: 100px auto;
  text-align: center;
}



h1 {
  color: #025157;
  text-align: center;
  font-family: "Alegreya", serif;
  font-size: 50px;
  margin-bottom: 24px;
  /* font-weight: 500; */
}



/* PUBLICIDAD */

.promo {
  display: flex;
  width: 60%;
  margin: 100px auto;
  align-items: center;
}

.promo .explanatory-video {  
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.explanatory-video img {
  width: 30px;
  margin-top: 10px;
}


.publish {
  display: flex;
  flex-direction: column;
  align-items:start;
}

.publish h3 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish > form {
  display: flex;
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
}




/* CARACTERITICAS */

.features {
  display: grid;
  background-color: #025157;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(2, 330px);
  /*
    maximo de 11 columnas
    shortcuts: 
    indicar cuantas columnas y su tamano
    grid-template-columns: repeat(2, 300px);
  */

}


.features > article {
  width: 450px;
  height: 300px;
  border-radius: 12px;
  background-color: salmon;  
}







/*esto es mio*/
.botonesAaccio {
  color: #fff;
  background-color: #67B54B;
  font-size: 1.3em;
}

.botonLink {
  color: #67B54B;
}